
- @programs.each do |day, programs|
  #{l day, format: "%m月%d日(%a)"} の番組
  \
  - programs.each do |program|
    \  #{program.start_at.strftime("%H:%M")} #{program.channel}
    \        #{program.name} [#{program.tag_list}]
    - if program.description
      \        #{program.description}
    \        #{program.url}
    \
  \

\----
登録解除: #{@unsubscribe_url}
