%tr
  %td
    = link_to glyph(:pencil), edit_program_path(program)
    = link_to glyph(:ok), program_path(program, program:{status: :ok}), method: :put, remote: :true
    = link_to glyph(:trash), program_path(program, program:{status: :ng}), method: :put, remote: :true
  %td=l program.start_at, format: :short
  %td
    = link_to program.name, program.url
    = tags_tag program.tag_list
  %td= program.description
