%tr
  %td
    - if params[:controller] == "imports"
      = link_to glyph(:ok), moderate_program_path(program, :ok), method: :put, remote: :true
      = link_to glyph(:remove), moderate_program_path(program, :ng), method: :put, remote: :true
    - elsif can? :edit, program
      = link_to glyph(:pencil), edit_program_path(program)
      = link_to glyph(:trash), program_path(program), method: :delete, remote: :true
  %td=l program.start_at, format: :short
  %td
    = link_to program.name, program.url
    = tags_tag program.tag_list
  %td= program.description
